

<section  class="menu-liste">
    <app-menu></app-menu>
</section>

<div>
    <section  class="categories">
        <ng-container *ngFor="let c of categorie">
            <mat-chip>
                <div>
                    <app-categories href=""[categorie]="c"></app-categories>
                </div>
            </mat-chip>
        </ng-container>
    </section>

    <div class="thumbnail">
        <app-liste-videos-thumbnail ></app-liste-videos-thumbnail>
    </div>


    <!--<div  class="video-details">
        <app-video [video]="videos[0]"></app-video>
    </div>-->
</div>

<!--<div class="formulaire">
    <app-formulaire-video></app-formulaire-video>
    <app-ajout-avis></app-ajout-avis>
</div>-->

