

<section  class="menu">
    <app-menu></app-menu>
</section>

<div>
<section  class="categories">
    <ng-container *ngFor="let c of categorie">
        <mat-chip>
            <div>
                <app-categories href=""[categorie]="c"></app-categories>
            </div>
        </mat-chip>
    </ng-container>
</section>

    <div ngClass="thumbnail">
        <app-liste-videos-thumbnail></app-liste-videos-thumbnail>
    </div>


    <div  ngClass="video-details">
        <app-video [video]="videos[0]"></app-video>

    </div>
</div>

