:host{
   display: block;
   background-color: rgb(252, 204, 225);
   margin: 10px;
   border: 2px solid black;

}
.image-detail{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.infos-chiffres{
    display: flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
  }
