

<div class="video-details">
    <img src="{{video.url_image}}" alt="">

    <section class="infos-chiffres">
      <div *ngFor="let sous_titres of video.sous_titres"></div>
      <span *ngIf="video.sous_titres.includes('cc'); else stIconTemplate">
        <span class="material-icons">
          closed_caption
        </span>
      </span>
      <ng-template #stIconTemplate>  
          <span class="material-icons">
            subtitles
          </span>
      </ng-template>
      <p>Code: {{ video.code }}</p>
      <p>Score vidéo:{{video.score_video}}</p>
      <p>Nombre de vues: {{ video.nombreVues }}</p>
      <p>Durée: {{ video.duree }} seconds</p>
    </section>

    <section class="infos-film">
      <h2>{{ video.nom }}</h2>
      <p>{{ video.description }}</p>
      <p>Catégories: {{ video.categories.join(', ') }}</p>
      <p>Date de Publication: {{ video.datePublication | date:'medium' }}</p>
    </section>

    <section class="infos-auteur">
      <p>Auteur: {{ video.auteur.nom }}
        <span *ngIf="video.auteur.verifier === 'true'">
          <span class="material-icons">
            verified
          </span>
        </span>
      </p>
      <p>{{video.auteur.description}}</p>
    </section>
    
    
    
    <section class="avis">
      <h3>Avis:</h3>
      <ul *ngFor="let avis of video.avis">
        <li>Note: {{ avis.note }}</li>
        <li>Commentaires: {{ avis.commentaires }}</li>
      </ul>
    </section>

</div>

