

<div class="video-details">
    <img src="{{video.url_image}}" alt="">
    <h2>{{ video.nom }}</h2>
    <p>{{ video.description }}</p>
    <p>Code: {{ video.code }}</p>
    <p>{{video.score_video}}</p>
    <p>Catégories: {{ video.categories.join(', ') }}</p>
    <p>Auteur: {{ video.auteur.nom }}
      <span *ngIf="video.auteur.verifier === 'true'">✔️</span>
    </p>
    <p>{{video.auteur.description}}</p>
    <p>{{video.auteur.verifier}}</p>
    <p>Date de Publication: {{ video.datePublication | date:'medium' }}</p>
    <p>Durée: {{ video.duree }} seconds</p>
    <p>Nombre de vues: {{ video.nombreVues }}</p>
  
    <h3>Avis:</h3>
    <ul *ngFor="let avis of video.avis">
      <li>Note: {{ avis.note }}</li>
      <li>Commentaires: {{ avis.commentaires }}</li>
    </ul>
</div>

