<form #videoForm="ngForm">
    <mat-form-field class="perso-form">
        <mat-label>Nom du vidéo</mat-label>
        <input matInput type="text" name="nom" [(ngModel)]="video.nom">
    </mat-form-field>

    <mat-form-field class="perso-form">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" name="description" [(ngModel)]="video.description"></textarea>
    </mat-form-field>

    <!--<mat-form-field>
        <mat-label>Catégories</mat-label>

        <mat-chip-grid #chipGrid aria-label="categorie selection">
            <mat-chip-row *ngFor="let categorie of video.categories">
              {{categorie}}
              <button matChipRemove [attr.aria-label]="'remove '">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
        
        <input matInput 
            type="text" 
            name="categorie" 
            [(ngModel)]="video.categories"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let categorie of video.categories" [value]="categorie">
                {{categorie}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>-->

    <mat-form-field class="perso-form">
        <mat-label>Code</mat-label>
        <input matInput type="text" name="code" [(ngModel)]="video.code">
    </mat-form-field>

    <!--<mat-form-field class="example-full-width">
        <mat-label>Choisir la date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>-->

    <!--<mat-card>
        <mat-card-content>
          <h2 class="slider">Slider configuration</h2>
      
          <section class="example-section">
            <mat-form-field class="example-margin example-width">
              <mat-label>Value</mat-label>
              <input matInput type="number" name="value" [(ngModel)]="video.duree.value">
            </mat-form-field>
            <mat-form-field class="example-margin example-width">
              <mat-label>Min value</mat-label>
              <input matInput type="number" name="min" [(ngModel)]="video.duree.min">
            </mat-form-field>
            <mat-form-field class="example-margin example-width">
              <mat-label>Max value</mat-label>
              <input matInput type="number" name="max" [(ngModel)]="video.duree.max">
            </mat-form-field>
            <mat-form-field class="example-margin example-width">
              <mat-label>Step size</mat-label>
              <input matInput type="number" name="step" [(ngModel)]="video.duree.step">
            </mat-form-field>
          </section>
      
        </mat-card-content>
      </mat-card>
      
      <mat-card class="result-card">
        <mat-card-content>
          <h2>Result</h2>
      
          <div class="example-label-container">
            <label id="example-name-label" class="example-name-label">Value</label>
            <label class="example-value-label">{{slider.value}}</label>
          </div>
              <mat-slider
              class="example-margin"
              [max]="video.duree.max"
              [min]="video.duree.min"
              [step]="video.duree.step"
             >
            <input matSliderThumb name="slider" [(ngModel)]="video.duree" #slider>
          </mat-slider>
        </mat-card-content>
      </mat-card>-->


      
      <mat-form-field class="perso-form">
        <mat-label>Sous-titres</mat-label>
        <select matNativeControl required>
          <option value="Aucun">Aucun</option>
          <option value="Sous-titres">Sous-titres</option>
          <option value=" Sous-titrage pour sourds et malentendants"> Sous-titrage pour sourds et malentendants</option>
        </select>
      </mat-form-field>

</form>

<form>

      <!--<mat-form-field>
        <mat-label>auteur</mat-label>
        <input matInput type="text" name="auteur" [(ngModel)]="video.auteur">
      </mat-form-field>-->

      <mat-form-field class="perso-form">
        <mat-label>nombre de vues</mat-label>
        <input matInput type="text" name="nombredevues" [(ngModel)]="video.nombreVues">
      </mat-form-field>

      <mat-form-field class="perso-form">
        <mat-label>score</mat-label>
        <input matInput type="text" name="score" [(ngModel)]="video.score_video">
      </mat-form-field>

      <!--<mat-form-field>
        <mat-label>avis</mat-label>
        <input matInput type="text" name="avis" [(ngModel)]="video.avis">
      </mat-form-field>-->

      <!--<button class="bouton-form" (click)="get();" mat-stroked-button>Soumettre</button>-->


      <button class="bouton-form" mat-button mat-aria-label="Annuler" [mat-dialog-close]="true">
        Annuler
      </button>

      <button class="bouton-form" *ngIf="video.id; else boutonAjout" mat-button mat-aria-label="Modifier"
      [disabled]="!videoForm.form.valid" (click)="updateVideo(videoForm)">  
        Modifier
      </button>

        
      <ng-template #boutonAjout>
        <button class="bouton-form" mat-button mat-aria-label="Ajouter"
        [disabled]="!videoForm.form.valid" (click)="addVideo(videoForm)">
        Créer
        </button>
      </ng-template>
        
</form>

      
    

