<form>

    <button   class="material-symbols-outlined" mat-icon-button aria-label="ThumbDown">
        <mat-icon >
            thumb_down
        </mat-icon>
    </button>

    <button mat-icon-button aria-label="Thumbup">
        <mat-icon>
            <span class="material-symbols-outlined">
                thumb_up
            </span>
        </mat-icon>
    </button>

    <mat-form-field>
        <mat-label>Commentaires</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    

</form>

