<div class="video-thumnail-details">
    <img src="{{video.url_image}}" alt="">
    <h2>{{ video.nom }}</h2>    
    <p>Auteur: {{ video.auteur.nom }}
        <span *ngIf="video.auteur.verifier === 'true'">
            <span class="material-icons">
                verified
            </span>
        </span>
    </p>
    <p>Date de Publication: {{ video.datePublication | date:'medium' }}</p>
    <p>Durée: {{ video.duree }} seconds</p>
    <p matTooltip={{video.nombreVues}}>{{ video.nombreVues | nbDeVues}}</p>
    <p>Score: {{video.score_video}}</p>
    <div [ngClass]="{'hot': video.score_video > 5000}" *ngIf="video.score_video > 5000">
        <span class="material-icons">
            local_fire_department
        </span>
    </div>
    <div [ngClass]="{'cold': video.score_video > 5000}" *ngIf="video.score_video < 5000">
        <span class="material-icons">
            ac_unit
        </span>
    </div>
       
</div>


